html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

@font-face{
  font-family: BentonSansCondensedBold;
  src: url('assets/BentonSansCondensedBold.otf') format('opentype');
}

@font-face{
  font-family: Abel;
  src: url('assets/Abel.ttf') format('truetype');
}

#title_container{
 position: absolute;
  top: 50px;
  left: 50%;
  width: 450px;
  transform: translate(-50%);
  color: black; /*rgb(255,70,110);*/
}

#title{
  font-family: BentonSansCondensedBold;
  font-size: 54px;
}

#subtitle{
  font-family: BentonSansCondensedBold;
  font-size: 28px;
}

#description{
  font-family: Abel;
  font-size: 16px;
  color: black;
}

#work_container{
 position: absolute;
  top: 275px;
  left: 50%;
  transform: translate(-50%);
  color: black;
  font-family: BentonSansCondensedBold;
  font-size: 20px
}

img {
  height: auto;
  max-width: 500px;
}

th, td {
  padding: 10px;
}

a {
  text-decoration:none;
  color: black; /*rgb(255,70,110);*/
}

a:hover, a:focus{
  text-decoration:underline;
}
